<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-option _collapsible opc-payment-additional discount-code"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Apply Discount Code '--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form class="form form-discount" id="discount-form">
            <div class="payment-option-inner">
                <div class="field">
                    <label class="label" for="discount-code">
                        <span data-bind="i18n: 'Enter discount code'"></span>
                    </label>
                    <div class="control">
                        <input class="input-text"
                               type="text"
                               id="discount-code"
                               name="discount_code"
                               data-validate="{'required-entry':true}"
                               data-bind=" attr:{placeholder: $t('Enter discount code')} " />
                    </div>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button class="action action-apply" type="submit" data-bind="'value': $t('Apply Discount'), click: apply">
                        <span><!-- ko i18n: 'Apply Discount'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
            <!-- ko if: isApplied() -->
            <div class="secondary" style="">
                <h4>Applied Coupon</h4>
                <!-- ko foreach: couponCode().split(',') -->
                <p><!-- ko text: $data --><!-- /ko -->
                    <a class="action-remove" data-bind="click: $parent.cancel.bind($data,$data)"> Cancel</a>
                </p>
                <!--/ko-->
            </div>
            <!-- /ko -->
        </form>
    </div>
</div>
